html {
	box-sizing: border-box;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.header {
	max-width: 95%;
	margin: 0 auto;
	min-height: 160px;
	padding: 5px;
}

.header::after {
	display: table;
	clear: both;
	content: '';
}

		@media screen and (max-width: 480px) {
			.logo {
			width: 100%;
			min-height: 160px;
			}

		}
	
		@media screen and (max-width: 480px) {
			.greetings {
				width: 100%;
				min-height: 50px;
				text-align: center;
				padding-top: 10px;
			}		
		}

		@media screen and (max-width: 480px) {
			.slider {
				display: none;
			}			
	
		.nav {
			max-width: 70%;
			min-height: 40px;
			margin: 0 auto;
			text-align: center;
			padding: 5px;
		}

			.nav ul {
				list-style-type: none;
			}

				.nav ul li {
					display: block;
					padding: 0 30px;
					text-align: center;
					margin: 10px 10px;
					border-radius: 5px;
				}

				.nav ul li a {
					height: 30px;
					text-decoration: none;
					font-family: monospace;
				}

				.nav ul li:nth-child(1) {
					border-right: solid 2px lightblue;
					border-bottom: solid 2px lightblue;
				}

				.nav ul li:nth-child(1):hover {
					border-right: dashed 2px lightblue;
					border-bottom: dashed 2px lightblue;
					font-weight: bolder;
				}

				.nav ul li:nth-child(2) {
					border-right: solid 2px blue;
					border-bottom: solid 2px blue;
				}

				.nav ul li:nth-child(2):hover {
					border-right: dashed 2px blue;
					border-bottom: dashed 2px blue;
					font-weight: bolder;
				}

				.nav ul li:nth-child(3) {
					border-right: solid 2px darkblue;
					border-bottom: solid 2px darkblue;
				}

				.nav ul li:nth-child(3):hover {
					border-right: dashed 2px darkblue;
					border-bottom: dashed 2px darkblue;
					font-weight: bolder;
				}

				.nav ul li:nth-child(4) {
					border-right: solid 2px black;
					border-bottom: solid 2px black;
				}

				.nav ul li:nth-child(4):hover {
					border-right: dashed 2px black;
					border-bottom: dashed 2px black;
					font-weight: bolder;
				}


				.nav ul li:nth-child(4):active {
					border-right: dotted 2px black;
					border-bottom: dotted 2px black;
				}

		}

.container {
	max-width: 95%;
	margin: 20px auto;
}

.article {
	max-width: 95%;
	min-height: 240px;
	text-align: justify;
	padding: 0 30px;
	margin-top: 15px;
	border-bottom: solid 2px darkblue;
}

	.article-header {
		width: 100%;
		min-height: 50px;
	}

		.article-icon {
			width: 50px;
			min-height: 50px;
			border-radius: 50%;
			border: solid 1px black;
			float: left;
		}

		.article h2 {
			margin-left: 60px;
			padding: 12px;
			font-family: monospace;
			font-size: 1.8em;
		}

		.article-header::after {
			display: table;
			clear: both;
			content: '';
		}

	.article .text {
		margin-top: 10px;
		font-family: verdana;
		font-size: 0.95em;
	}

	.article a {
		text-decoration: none;
		font-family: monospace;
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
	}

	.article .more {
		width: 55px;
		height: 20px;
		margin: 5px auto;
		background-color: lightblue;
		border-radius: 15px;
		border: solid 3px darkblue;
	}

.footer {
	max-width: 95%;
	min-height: 60px;
	margin: 0 auto;
}

.footer .logo_small {
	width: 25%;
	height: 60px;
	float: left;
}

.footer .social {
	width: 50%;
	height: 60px;
	background-color: #ddd;
	float: left;
}

.footer .contact {
	width: 25%;
	height: 60px;
}

.footer::after {
	display: table;
	clear: both;
	content: '';
}