<!DOCTYPE html>
<html lang="RU">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/base.css">
	<title></title>
</head>
<body>

	<header class="header">
		<div class="logo"></div>
		<nav>
			<ul>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
			</ul>
		</nav>
	</header>

	<main class="mainspace">
		<aside>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</aside>
		<div class="content">
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
		</div>
	</main>

	<footer class="footer">
		<div class="todo_list">
			<ol>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</div>
		<div class="footer_info">
			
		</div>
		<div class="social">
		</div>
	</footer>
</body>
</html>