<!DOCTYPE html>
<html lang="RU">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/base.css">
	<title></title>
</head>
<body>

	<header class="header">
		<div class="logo"></div>
		<nav>
			<ul>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
				<li><a href="#" class="linkItem">linkItem</a></li>
			</ul>
		</nav>
	</header>

	<main class="mainspace">
		
		<div class="content">
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						Написание CSS само по себе весело, но когда таблица стилей становится огромной, то становится и сложно её обслуживать. И вот в таком случае нам поможет препроцессор. Sass позволяет использовать функции недоступные в самом CSS, например, переменные, вложенности, миксины, наследование и другие приятные вещи, возвращающие удобство написания CSS.

						Как только Вы начинаете пользоваться Sass, препроцессор обрабатывает ваш Sass-файл и сохраняет его как простой CSS-файл, который Вы сможете использовать на любом сайте.

						Самый простой способ получить такой результат - использовать терминал. После того, как Sass установлен, вы можете компилировать ваш Sass в CSS, ис
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<hr class="divider">
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						Написание CSS само по себе весело, но когда таблица стилей становится огромной, то становится и сложно её обслуживать. И вот в таком случае нам поможет препроцессор. Sass позволяет использовать функции недоступные в самом CSS, например, переменные, вложенности, миксины, наследование и другие приятные вещи, возвращающие удобство написания CSS.

						Как только Вы начинаете пользоваться Sass, препроцессор обрабатывает ваш Sass-файл и сохраняет его как простой CSS-файл, который Вы сможете использовать на любом сайте.

						Самый простой способ получить такой результат - использовать терминал. После того, как Sass установлен, вы можете компилировать ваш Sass в CSS, ис
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<hr class="divider">
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						Написание CSS само по себе весело, но когда таблица стилей становится огромной, то становится и сложно её обслуживать. И вот в таком случае нам поможет препроцессор. Sass позволяет использовать функции недоступные в самом CSS, например, переменные, вложенности, миксины, наследование и другие приятные вещи, возвращающие удобство написания CSS.

						Как только Вы начинаете пользоваться Sass, препроцессор обрабатывает ваш Sass-файл и сохраняет его как простой CSS-файл, который Вы сможете использовать на любом сайте.

						Самый простой способ получить такой результат - использовать терминал. После того, как Sass установлен, вы можете компилировать ваш Sass в CSS, ис
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
			<hr class="divider">
			<article class="text_block">
				<div class="icon">
				</div>
				<div class="text_preview">
					<p>
						Написание CSS само по себе весело, но когда таблица стилей становится огромной, то становится и сложно её обслуживать. И вот в таком случае нам поможет препроцессор. Sass позволяет использовать функции недоступные в самом CSS, например, переменные, вложенности, миксины, наследование и другие приятные вещи, возвращающие удобство написания CSS.

						Как только Вы начинаете пользоваться Sass, препроцессор обрабатывает ваш Sass-файл и сохраняет его как простой CSS-файл, который Вы сможете использовать на любом сайте.

						Самый простой способ получить такой результат - использовать терминал. После того, как Sass установлен, вы можете компилировать ваш Sass в CSS, ис
					</p>
				</div>
				<a href="#" class="button_more">more</a>
			</article>
		</div>
	</main>

	<footer class="footer">
		<div class="todo_list">
			<ol>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</div>
		<div class="footer_info">
			
		</div>
		<div class="social">
		</div>
	</footer>
</body>
</html>