* {
	padding: 0;
	margin: 0;
	border: 0;
}

@media all and (max-width: 480px) {
	
	header {
		min-height: 160px;
		width: 100%;
		background-color: yellow;
	}
}

@media all and (min-width: 481px) and (max-width: 720px) {

	header {
		min-height: 240px;
		width: 100%;
		background-color: red;
		border-bottom: solid 1px darkblue;
	}	
}

@media all and (min-width: 721px) and (max-width: 1200px) {

	header {
		min-height: 320px;
		width: 100%;
		background-color: blue;
		border-bottom: solid 1px black;
	}	
}

@media all and (min-width: 1201px) {
	
	header {
		min-height: 480px;
		width: 100%;
		background-color: cyan;
		border-bottom: solid 1px darkblue;
	}
} 